* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color:black;
  /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
  background:no-repeat;
  background-position: center;
  background-origin: 0 0 0;
}

text2{
  font-size: 50px;
  font-weight: 100;
  color:#222;
  line-height: 40px;
  letter-spacing: 2px;
}

t2{
  font-size: 30px;
  font-weight: 100;
  color:#222;
}

t3{
  font-size: 30px;
  font-weight: 100;
  color:#00CEE0;
}

t4{
  font-size: 24px;
  font-weight: 100;
  color:#00CEE0;

}

a t3:hover{
  color: #EC005F;
}

a{
  color: #00CEE0  ;
}

a:hover{
  text-decoration: none;
  color: #EC005F;
}

.hero-unit{
  background-color: white;
  padding: 45px;
  margin-bottom: 0px;
  float: top;
  border-radius: 0px;
  border-color: #aaa;
  border-style: solid 1px;
}

.navbar-fixed-top{
  height: 45px;
  background-color: white;
  padding: 45px;
  margin-bottom: 0px;
  float: top;
  border-radius: 0px;
  border-color: #aaa;
  border-bottom-style: solid;
  border-width: thin;
}
.container-fluid{
  padding-top: 100px;
}

.row-fluid{
  margin-left: 60px;
}

.top-bar{
  background: black;  
}
b{
font-size: 15px;}

p{
  font-size: 15.5px;

  margin: 0px;
  line-height: 22px;
}

p-hero{
  font-size: 15.5px;
  margin: 0px;
  line-height: 60px;
}

note{
  color: rgb(218,0,0);
}

.left-pane{
  padding-left: 0px;
  padding-top: 70px;
}

.fill{
  padding-top: 1px;
  background-color: rgba(0,0,0,0.2);
}

.split-line{
  margin-top: 25px;
  padding-top: 1px;
  background-color: rgba(0,0,0,0.2);
}

.img-polaroid{
  width: 100%;
  padding: 0px;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: none;
}

.body-text{
  margin-left: -10px;
}

.projects{
  padding-top: 70px;
  border-top: 1px;
}

.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
 }

.thumbnail{
  display: -webkit-inline-flex;
  max-width: 100%;
  background-color: white;
  padding: 0px;
  margin-top: 10px;
  border: none;
  
}

.tabs-left{
  position: fixed;
}

.tab-pills{
  padding: 10px;
  padding-left: 0px;
  /*background-color: #eee;*/
}

.tab-pills{
margin: 0 0 1px 0px;
}

.homepage-body-text{
padding-top: 70px;
}

.img-rounded{
 border-radius: 12px;
 border: 10px #FF7E7E solid;
}

