* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color:black;
  /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
  background:no-repeat;
  background-position: center;
  background-origin: 0 0 0;
}

p{
  font-size: 12px;
}

text2{
  font-size: 50px;
  font-weight: 100;
  color:#222;
  line-height: 40px;
  letter-spacing: 2px;
}

t2{
  font-size: 30px;
  font-weight: 100;
  color:#222;
}

t3{
  font-size: 30px;
  font-weight: 100;
  color:#00CEE0;
}

t4{
  font-size: 24px;
  font-weight: 100;
  color:#222;
}

a t3:hover{
  color: #EC005F;
}

a t4:hover{
  color: #EC005F;
}

a{
  color: #00CEE0  ;
}

a:hover{
  text-decoration: none;
  color: #EC005F;
}

.hero-unit{
  background-color: white;
  /*padding: 45px;*/
  margin-bottom: 0px;
  float: top;
  border-radius: 0px;
  border-color: #aaa;
  border-style: solid 1px;
}

.navbar-fixed-top{
  height: 45px;
  background-color: white;
  padding-bottom: 45px;
  padding-top: 45px;
  padding-left: 30px;
  margin-bottom: 0px;
  float: top;
  border-radius: 0px;
  border-color: #aaa;
  border-bottom-style: solid;
  border-width: thin;
}
.container-fluid{
  padding-top: 100px;
  width: 100%;
}

.row-fluid{
  /*margin-left: 60px;*/
}

.tabs-left{
  list-style: none;
  margin-left: 30px;
  padding-left: 10px;
}

.top-bar{
  background: black;  
}
b{
font-size: 15px;}

p{
  font-size: 14px;

  margin: 0px;
  line-height: 22px;
}

p-hero{
  font-size: 15.5px;
  margin: 0px;
  line-height: 60px;
  text-align: right;
}

note{
  color: rgb(218,0,0);
}

.left-pane{
  padding-left: 0px;
  padding-top: 70px;
}

.fill{
  padding-top: 1px;
  background-color: rgba(0,0,0,0.2);
}

.split-line{
  margin-top: 25px;
  padding-top: 1px;
  background-color: rgba(0,0,0,0.2);
}

.img-polaroid{
  height: 10px
  padding: 0px;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: none;
}

.body-text{
  margin-left: -10px;
}

.projects{
  padding-left: 0px;
  padding-top: 70px;
  border-top: 1px;
}

.project1{
  padding-left: 0px;
}

.presentation-images{
  display: block;
  text-align: center;
  padding-left: 160px;
}

.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
 }

.thumbnail{
  display: -webkit-inline-flex;
  background-color: white;
  padding: 0px;
  margin-top: 10px;
  border: none;
  
}

.tabs-left{
  /*position: fixed;*/
}

.tab-pills{
  padding: 10px;
  padding-left: 0px;
  /*background-color: #eee;*/
}

.tab-pills{
margin: 0 0 1px 0px;
}

.homepage-body-text{
padding-top: 70px;
}

.img-rounded{
 border-radius: 2px;
 border: 1px #eee solid;
}

.card{
  
}

.card-image{
  min-height: 500px;
  margin:20px;
  margin-top: 0px;
  border: 1px solid;
  border-color: black;
}

.card-head-image{
  min-height: 229px;
  max-height: 700px;

}

.card-content{
  min-height: 300px;
  /*min-height: 500px;
  max-height: 700px;*/
  padding:15px;
  padding-top: 30px;
}

.right-col{
  float: right;
}
.project-cards{
  padding-top: 15px;
}


.know-more{
  color: black;
  padding: 15px;
  background: #eee;
  text-align: center;
  vertical-align: bottom;
  bottom: 0px;
}

.know-more:hover{

  background:black;
  color:#EC005F;
}

body > div.container-fluid > div > div > div.span10 > div:nth-child(1){
  margin-left: 30px;
}



@media (max-width: 600px) {
  t3{
    font-size:20px;
  }

  .tab-pills{
    width: 30%;
    display: inline-block;
    padding-top: 5px;
  }

  .tabs-left{
  padding-left: 0px;
}

  li{
    clear:none;
  }
  li:last-child{
    
  }
}

